:root{
  		--orange:#FFA500;
		--gris : #A9A9A9;
		--vert : #048B9A;
		--rouge :#EA4258;
                --jauneOr :#FFD700;
		
		--police1 : Verdana, Arial, 'Trebuchet MS';
		--police2 : 'Trebuchet MS';
}

body {
font-family: var(--police1);
font-size: 20px;
color : var(--gris);
}

.ecommerce_logo {
	width : 8%;
}


nav {
	background-color : var(--vert);
	font-family: var(--police2);
	font-size : 1.5em;
	font-weight : bolder;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#ecommerce_illustration_logo {
	width : 50%;
}

table {
    border-collapse:collapse;
    align-self: center;
}

th, td {
    border : 3px solid var(--jauneOr);
    padding : 5px 10px 10px 5px;
}
.monetaire {
    text-align: right;
}
.texte {
    text-align: left;
}
.retrait {
    text-indent : 10%;
}
#contenu,#ecommerce_comptesclients_description {
    display : flex;
    flex-direction: row;
    justify-content: center;
}
#ecommerce_description {
    display : flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}


#formVirement {
    display : flex;
    flex-direction: column;
    align-items: center;
}
body, footer {
	display : flex;
	flex-direction : column;
	text-align : center;
}

header, nav ul, #SJP_SIO_Presentation, #ecommerce_comptesclients_description  {
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align : center;	
}

.titre {
	font-family: var(--police1);
	font-size : 4em;
	font-weight : bolder;
}

nav ul li {
	list-style : none;
}

nav ul li a {
	text-decoration : none;
	color: var(--gris);
}

nav ul li a:hover{
	color: var(--orange);
}

nav ul li :hover {
	color : var(--orange);
}

#banniere {
	background-color : var(--vert);
	font-family: var(--police2);
	font-size : 1.5em;
	font-weight : bolder;
	text-align : center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#ecommerce_description, #SJP_SIO_Presentation, #ecommerce_comptesclients_description {
	font-family: var(--police2);
}

	
#SJP_Logo {
	width : 30%;
	margin : 0;
}


@media only screen and (min-width: 600px) {
	header {
		flex-direction : row;
		justify-content : center;
		align-items : end;
	}
	
	nav ul {
		flex-direction : row;
		justify-content : space-evenly;
        }
	#SJP_SIO_Presentation {
		flex-direction : column;
	}

}

@media only screen and (min-width: 768px) {
	header {
		justify-content : space-between;
		align-items : center;
	}
	
	nav ul  {
		justify-content : end;
	}
	
	nav ul li {
		margin : 0 2% 0 2%;
	}
}

.erreur {
    color : red;
}

.avertissement {
    color : orange;
}

.information {
    color : darkblue;
}

.succes {
    color : green;
}

.fusionColonnes {
    column-span: all;
}
